@import "reset.css";
#message {
  width: 600px;
  margin: 50px auto;
}
#message h1 {
  font-size: 18px;
  height: 50px;
}
#message p.green {
  margin-right: 10px;
  font-size: 14px;
  display: inline;
  padding: 2px 5px;
  color: colorBg;
  background: rgba(0, 128, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px #004000;
  -webkit-box-shadow: 2px 2px 5px #004000;
  -o-box-shadow: 2px 2px 5px #004000;
  box-shadow: 2px 2px 5px #004000;
}
